body {
    /*background*/
    background-color: rgb(0, 0, 0);

    /*fondo página*/ 
    color:white;
    /*Normalizando padding y margin*/
    margin: 0px;
    padding: 0px;

    padding-left: 2em;
    padding-right: 2em;
}

a {
    color:white;
    text-decoration: none;
}

.header{
    .header-div{
        margin-top: 3em;
        .header-img{
            height: 13em;
            display: block;
            margin: auto;
        }

        h2{
            font-size: 2em;
            margin-top: 0.1em;
            font-weight: 600;
            margin-bottom: 0.1em;
            text-align: center;
        }

        p{
            font-size: 0.9em;
            margin-top: 0.1em;
            text-align: center;
            padding-left: auto;
            padding-right: auto;
        }
    }
}

.links{
    .links-div{
        .links-ul{
            list-style-type: none !important;
            padding-left: 0em;
            .links-ul-li{
                background: linear-gradient(90deg, #6D14CE 0%, #4E6BE3 100%);
                box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.12);
                border-radius: 7.68371px;
                margin-bottom: 1em;
                height: 3.3em;
                a{
                    padding-top: 3em;
                    .texto{
                        position: relative;
                        left: 1.4em;
                        font-weight: 700;
                    }
                    img{
                        height: 2em;
                        position: relative;
                        top: 0.6em;
                        left: 0.8em;
                        right: 0.8em;
                        
                    }
                }
            }

            .unactive{
                background: linear-gradient(90deg, #071B2F 0%, #021324 100%);
                box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.12);
                border-radius: 7.68371px;
            }
        }
    }
}

footer{
    .footer-text{
        font-size: 0.9em;
        text-align: center;
        color: #ffffff8f;
    }
}

@media (min-width:1025px){
    body{
        padding-left: 26em;
        padding-right: 26em;
    }

    .header{
        .header-div{
            margin-top: 1em;
            p{
                padding-left: 5em !important;
                padding-right: 5em !important;
            }
        }
    }
}